# Ignore target and build directories
target/
build/

# Ignore Maven wrapper jar (optional, you can keep mvnw scripts)
.mvn/wrapper/maven-wrapper.jar

# Include src and build inside src
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore MySQL data
mysql_data/

### IDE files ###
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Keep pom.xml
!pom.xml

# Keep docker folder
!Docker/
